    
    .container{
        min-width:80%;
    }
   
    .card{
        margin: 10px  20px;
        padding-top: 5px;
    }
    .card-body{
        padding: 8px;
        margin: 0 ;
    }
    .navbar-brand{
        width:100%;
        font-size: 2rem;
        font-weight: 700;
    }